# Your .env file will look like this

DATABASE_URL="file:./database.db"

GITHUB_CLIENT_ID="YOUR_GITHUB_OAUTH_CLIENT_ID"
GITHUB_CLIENT_SECRET="YOUR_GITHUB_OAUTH_CLIENT_SECRET"

# The Next auth secret can be any text

NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="RANDOM_TEXT"
